.jkgl {
	width: 1200px;
	height: 700px;
	margin: 14px auto;
}

.jkgl-zhiti {
	width: 850px;
	height: 100%;
	background: url(../img/tmbg.png);
	float: left;
	border-radius: 5px;
}

.jkgl-zhiti1 {
	width: 850px;
	height: 50%;
	background: url(../img/tmbg.png);
	border-radius: 5px;
}

.bjlb {
	width: 850px;
	height: 20%;
	margin-top: 10px;
	background: url(../img/tmbg.png);
	border-radius: 5px;
}

.zz {
	width: 850px;
	height: 34px;
	background: url(../img/tubg.png);
}

.zz-pl1 {
	font-family: "微软雅黑";
	color: #8bc1da;
	font-size: 14px;
	line-height: 34px;
	width: 240px;
	text-align: center;
	height: 34px;
	float: right;
	margin-right: 10px;
}

.zzm-p1 {
	font-family: "微软雅黑";
	color: #8bc1da;
	font-size: 14px;
	line-height: 34px;
	width: 100px;
	clear: both;
	text-align: center;
	height: 34px;
	float: left;
}

.ass {
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 7px;
}

.zz-p2 {
	font-family: "微软雅黑";
	color: #8bc1da;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	height: 34px;
	margin-left: 10px;
	float: left;
}

.mokuai2 {
	width: 100%;
	height: 10%;
}

.input {
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	width: 710px;
	height: 40px;
	float: left;
	color: #8BC1DA;
     font-family: "微软雅黑";
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 13px;
	margin-left: 20px;
}

.zhenshi {
	width: 70px;
	height: 40px;
	background: #0d80d0;
	display: block;
	float: right;
	cursor: pointer;
	margin-top: 12px;
	margin-right: 20px;
	color: #FEFEFE;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	border-radius: 5px;
	line-height: 40px;
}

.table3 {
	width: 850px;
	
	position: relative;
	top: 10px;
	border-radius: 3px;
}

.table98 {
	width: 820px;
	height:50px;
	position: relative;
	
	border-radius: 3px;
}

.table3 th {
	width: 40px;
}

.table3 th p {
	width: 40px;
	font-family: "微软雅黑";
}

.noh {
	border: 0;
}

.noh:hover {
	background: transparent;
}

.noh td {
	font-family: '微软雅黑';
	font-size: 12px;
	color: rgba(255, 255, 255, 0.5);
}

.noh td label {
	font-family: '微软雅黑';
	font-size: 12px;
	position: relative;
	top: 0px;
	color: rgba(255, 255, 255, 0.5);
}

.inp {
	width: 40px;
	height: 20px;
	margin-left: 5px;
	background: transparent;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin-right: 5px;
}

.pl {
	width: 100px;
	margin-left: 730px;
	cursor: pointer;
}

.table3 .zn {
	width: 80px;
	margin: 0 auto;
}

.shc {
	margin-left: 15px;
	color: red;
	position: relative;
	left: -5px;
	text-decoration: underline;
	font-family: '微软雅黑';
	font-size: 14px;
	margin-top: -2px;
}

.quanxuan {
	position: relative;
	top: 5px;
	left: -3px;
	cursor: pointer;
}

#reyuanxiangqing {
	display: none;
	width: 820px;
	height: 250px;
	z-index: 500;
	margin-top: 120px;
	margin-left: 17%;
}

.xiala-baojing {
	width: 296px;
	height: 12%;
	background: #3e4d52;
	position: absolute;
	top: 53%;
	color: #86b6cd;
	font-family: "微软雅黑";
	left: 60.7%;
}

.xiala-baojing1 {
	width: 275px;
	height: 12%;
	background: #3e4d52;
	position: absolute;
	top: 47%;
	overflow-y: scroll;
	color: #86b6cd;
	border: 0;
	text-decoration: none;
	font-family: "微软雅黑";
	left: 11.8%;
}

.xiala-baojing1 ul {
	width: 205px;
	height: 10%;
	margin: 15px auto;
	padding-left: 20px;
}

.xiala-baojing1 li {
	margin-top: 10px;
	height: 25px;
	text-align: center;
	font-family: "微软雅黑";
	cursor: pointer;
	font-size: 14px;
}

.xiala-baojing2 {
	width: 275px;
	height: 12%;
	background: #3e4d52;
	position: absolute;
	top: 52.5%;
	overflow-y: scroll;
	color: #86b6cd;
	font-family: "微软雅黑";
	left: 11.8%;
}

.xiala-baojing2 ul {
	width: 205px;
	height: 10%;
	margin: 15px auto;
	padding-left: 20px;
}

.xiala-baojing2 li {
	margin-top: 10px;
	height: 25px;
	text-align: center;
	font-family: "微软雅黑";
	cursor: pointer;
	font-size: 14px;
}


.xiala-baojing3 ul {
	width: 205px;
	height: 10%;
	margin: 15px auto;
	padding-left: 20px;
}

.xiala-baojing3 li {
	margin-top: 10px;
	height: 25px;
	text-align: center;
	font-family: "微软雅黑";
	cursor: pointer;
	font-size: 14px;
}

.xiala-baojing3 {
	width: 375px;
	height: 18%;
	background: #3e4d52;
	position: absolute;
	top: 59.7%;
	overflow-y: scroll;
	color: #86b6cd;
	font-family: "微软雅黑";
	left: 11.8%;
}

#baojingleibie3 {
	display: none;
}

.xiala-baojing3 ul {
	width: 205px;
	height: 10%;
	margin: 15px auto;
	padding-left: 20px;
}

.xiala-baojing3 li {
	margin-top: 10px;
	height: 25px;
	text-align: center;
	font-family: "微软雅黑";
	cursor: pointer;
	font-size: 14px;
}

.xiala-baojing1 li:hover {
	background: #727b7e;
}
.xiala-baojing2 li:hover {
	background: #727b7e;
}
.xiala-baojing3 li:hover {
	background: #727b7e;
}

.baojingleibiem {
	margin-top: 10px;
	margin-left: 13%;
}

.danxuan {
	margin-left: 10%;
	margin-top: 10px;
	background: transparent;
}

.baojingleibiem label {
	margin-left: 2%;
	cursor: pointer;
}

#baojingleibie {
	display: none;
}

.xinjianbjleb {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #8BC1DA;
	width: 60px;
	height: 20px;
	display: none;
	line-height: 10px;
	text-align: left;
	position: absolute;
	top: 14%;
	z-index: 9999;
	right: 30%;
}

.linkongshixian label {
	color: #8BC1DA;
	font-family: "微软雅黑";
	line-height: 66px;
	width: 50px;
	height: 66px;
	display: inline-block;
	text-align: right;
	font-size: 12px;
}

.linkongshixian .label2 {
	margin-left: 8%;
}

.linkongshixian input {
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.2);
	width: 220px;
	border-radius: 5px;
	margin-left: 12px;
	color: #FEFEFE;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
}


.xinjianlkleb
{
	 color: #8BC1DA;
     font-family: "微软雅黑";
     position: absolute;
     top:21%;
     display:none;
     z-index:333;
     right:30%;
     font-size:13px;
     cursor: pointer;
}
.xinjiangjleb
{
	color: #8BC1DA;
     font-family: "微软雅黑";
     position: absolute;
     top:21%;
     display:none;
     z-index:333;
     right:30%;
     font-size:13px;
     cursor: pointer;
}
.xinjianqyleb
{
	 color: #8BC1DA;
     font-family: "微软雅黑";
     position: absolute;
     top:21%;
     display:none;
     z-index:333;
     right:30%;
     font-size:13px;
     cursor: pointer;
}



