.xtgl {
	width: 1200px;
	height: 700px;
	background: url(../img/tmbg.png);
	margin: 14px auto;
	border-radius: 5px;
}

.div1 {
	width: 345px;
	height: 540px;
	margin-left: 40px;
	margin-top: 70px;
	float: left;
	cursor: pointer;
	border-radius: 8px;
	background: url(../img/huaxiangbg.png);
}

.div1-img1 {
	width: 180px;
	height: 180px;
	margin: 90px auto;
}

.div1 p {
	color: #8BC1DA;
	font-family: "微软雅黑";
	font-size: 30px;
	width: 170px;
	height: auto;
	text-align: center;
	margin: 0 auto;
}